#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
	# don't publish posts marked published: false
	# github.com/mgutz/nanoc3_blog/blob/master/Rules
	items.delete_if { |item| item[:published] == false }
end

compile '/blog/feed/' do
	filter :erb
end

route '/blog/feed/' do
	'/feed.xml'
end


compile '/dribbble/' do
	filter :redcloth
	layout 'blog-post'
	layout 'default'
end

compile '/assets/css/style/' do
	filter :less
	filter :rainpress
end

route '/assets/css/style/' do
  '/style.css'
end

route '/assets/css/reset/' do
	nil
end


route '/assets/favicon/' do
	'/favicon.ico'
end


compile '/assets/*/' do
end

route '/assets/*/' do
	item.identifier.chop + '.' + item[:extension]
end



compile '/work/*/' do
	filter :erb
	filter :redcloth
	layout 'portfolio-item'
	layout 'default'
end


compile '/blog/*/' do
	filter :erb
	filter :redcloth
	filter :absolutify
	filter :colorize_syntax,
				 :default_colorizer => :coderay#,
				 #:coderay    => { :line_numbers => :inline }
	layout 'blog-post'
	layout 'disqus'
	layout 'default'
end

route '/blog/ext/*/' do
	nil
end


compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end


layout '*', :erb