#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/postimg/*/' do; end
compile '/images/*/' do; end
compile '/fonts/*/' do; end
compile '/favicon/' do; end
compile '/reset/' do; end

compile '/stylesheet/' do
	filter :less
	filter :rainpress
end

compile '/blog/*/' do
	filter :erb
	filter :redcloth
	layout 'default'
end

compile '*' do
  filter :erb
  layout 'default'
end


route '/postimg/*/' do
	item.identifier.chop + '.' + item[:extension]
end

route '/images/*/' do
	item.identifier.chop + '.' + item[:extension]
end

route '/fonts/*/' do
	item.identifier.chop + '.' + item[:extension]
end

route '/favicon/' do
	'/favicon.ico'
end

route '/reset/' do
	'/reset.css'
end

route '/stylesheet/' do
  '/style.css'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
