--- 
title: Home
---

<!--<h1 id="bigfeature">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam <a href="#">quam leo</a> sit amet pretium eu, feugiat ut risus.</h1>-->
<h1 id="bigfeature">All the &#147;cool kids&#148; have a big message here telling you why they&#146;re great. I&#146;ll let <%= link_to "my work", "/work/" %> speak for itself.</h1>

<section id="portfolio-preview" class="clearfix">
	
	<p>
	<% sorted_portfolio_items[0,2].each do |i| %>
		<a href="<%= relative_path_to i %>" title="View '<%= i[:title] %>'">
			<img src="/assets/portfolio/<%= i[:images] %>/<%= i[:thumb] %>" alt="<%= i[:title] %> thumbnail preview" />
		</a>
	<% end %>
	</p>
	<p class="stylish"><a href="/work/">See more of my work</a></p>
</section>

<section id="about-me">
	<h1 class="ir">About Me</h1>
	<p><img src="/assets/images/me.png" /></p>
	<p>I’ve been involved in web development for the past three years now and have gained experience in all kinds of exciting new technologies from the latest advances in CSS to the amazing Ruby on Rails web framework.</p>

	<p>I’ve found a passion for teaching the skills I’ve learnt and have published a number of popular tutorials on the <%= link_to "Tuts+ network", "http://net.tutsplus.com/author/danharper/" %>.</p>

	<p>I’m currently in my second year of study at the University of Portsmouth studying Web Technologies. On that note, I’m currently looking for a company to work at for a year from September 2011 for my &#147;year in industry&#148;. If you know of any vacancies, or could offer any advice  please get <%= link_to "intouch@danharper.me", "mailto:intouch@danharper.me" %>.</p>
</section>