--- 
title: My Portfolio
---


<section id="portfolio">
	<p id="opensource">
		<a href="https://github.com/danharper"><span>You can view my open-source projects at GitHub</span></a>
	</p>
	
	<% sorted_portfolio_items.each do |i| %>
		<article class="clearfix">
			<div class="details">
				<h2><a href="<%= relative_path_to i %>"><%= i[:title] %></a></h2>
				<ul>
					<li>Design</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>PHP</li>
					<li>MySQL</li>
					<li>SEO</li>
				</ul>
				<%= i[:excerpt] %>
				<p><a href="<%= relative_path_to i %>">Read More &raquo;</a></p>
			</div>
			<figure><a href="<%= relative_path_to i %>"><img src="/assets/portfolio/<%= i[:portfolio] %>" alt="Screenshot of the '<%= i[:title] %>' project" width="480"></a></figure>
		</article>
	<% end %>
	
</section>