<article>
	<% if i[:external] %>
		
		<h2 class="<%= i[:external] %>"><%= link_to i[:title], i[:external_url] %></h2>
		<% if i[:postimg] %>
			<p><img src="/assets/postimg/ext/<%= i[:postimg] %>" alt="" class="alignright"></p>
		<% end %>
		<%= i.compiled_content %>
	
	<% else %>
	
		<h2><%= link_to i[:title], i %></h2>
		<% if i[:postimg] %>
			<p><img src="/assets/postimg/<%= i[:postimg] %>" alt="" class="alignright"></p>
		<% end %>
		<% if i[:excerpt] %>
			<%= i[:excerpt] %>
		<% else %>
			<%= i.compiled_content %>
		<% end %>
	
	<% end %>
</article>