<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= title 'Dan Harper', @item[:title], 'Web Developer' %></title>
		<!--<link rel="shortcut icon" href="/favicon.ico">-->
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold">
		<link rel="alternate" href="http://feeds.feedburner.com/danharper" type="application/atom+xml">
		<script type="text/javascript" src="http://use.typekit.com/jzh8sal.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
		<!-- 
			take screenshots with safari at 1123x728, all toolbars hidden
			should produce a 'shadowed' screenshot at 1201x800
		-->
    <div id="container">
			<header class="clearfix">
				<h1><a href="/" class="ir">Dan Harper</a></h1>
				<nav>
					<ul>
						<%= nav_link 'Home', '/', @item %>
						<%= nav_link 'Work', '/work/', @item %>
						<%= nav_link 'Blog', '/blog/', @item %>
					</ul>
				</nav>
			</header>
	
      <div id="main">
      	<%= yield %>
				
				<footer>
					<section>
						<p>
							Find me on <a href="http://github.com/danharper">GitHub</a>, <a href="http://twitter.com/danharper7">Twitter</a>, <a href="/dribbble/">Dribbble</a> or <a href="http://uk.linkedin.com/in/danharper7">LinkedIn</a>.<br />
							Copyright &copy; 2011 Dan Harper.
						</p>
					</section>
				</footer>
      </div>

    </div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
	<script>
		var _gaq = [['_setAccount', 'UA-5086243-1'], ['_trackPageview']];
		(function(d, t) {
		 var g = d.createElement(t),
		     s = d.getElementsByTagName(t)[0];
		 g.async = true;
		 g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		 s.parentNode.insertBefore(g, s);
		})(document, 'script');
	</script>
  </body>
</html>
